CompileFlags:
  CompilationDatabase: .
  Add: 
    - "-std=c++17"
    - "-w"  # Disable all warnings
  Remove:
    - "-W*"   
    - "-std:c++*"   
    - "-external:W*"   

Index:
  Background: Build 

Diagnostics:
  Suppress: '*' 
  ClangTidy:
    Add: []  
    Remove: '*'   
  UnusedIncludes: None  
  MissingIncludes: None
  
InlayHints:
  Enabled: false